<div class="mt-5">

<div class="alert alert-warning" *ngIf="!favorites">
  Sorry. No records found.
</div>

<div class="table-responsive" *ngIf="favorites">
  <!-- <div class="row pl-0 m-0"> -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fav of favorites;let in=index">
            <th scope="row">{{in+1}}</th>
            <td ><a  href="javascript:void(0)" (click)="onClickFavorite($event,in)"><p>{{fav.city}}</p></a></td>
            <td ><a  href="javascript:void(0)" (click)="onClickFavorite($event,in)"><p>{{fav.state}}</p></a></td>
            <td>
              <a href="javascript:void(0)" rel="no-refresh" class="no-color"(click)="onDeleteFavorite($event,in)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </a>
            </td>
        </tbody>
      </table>
     <!-- </div> -->
  </div>
</div>
